<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DGestion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!--desterargentina.com.ar // pcserver For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DGestion.Properties.Settings.connString" connectionString="Data Source=desterargentina.com.ar;Initial Catalog=DesterGestion2017;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=1am45d50G#;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DGestion.Properties.Settings.DesterGestion2017ConnectionString" connectionString="Data Source=desterargentina.com.ar;Initial Catalog=DesterGestion2017;Persist Security Info=True;User ID=sa;Password=1am45d50G#" providerName="System.Data.SqlClient" />
    <add name="DGestion.Properties.Settings.DesterGestion2017ConnectionString1" connectionString="Data Source=desterargentina.com.ar;Initial Catalog=DesterGestion2017;Persist Security Info=True;User ID=sa;Password=1am45d50G#" providerName="System.Data.SqlClient" />
    <add name="DGestion.Properties.Settings.DesterGestion2017ConnectionString2" connectionString="Data Source=desterargentina.com.ar;Initial Catalog=DesterGestion2017;Persist Security Info=True;User ID=sa;Password=1am45d50G#" providerName="System.Data.SqlClient" />
    <add name="DGestion.Properties.Settings.DesterGestion2017ConnectionString3" connectionString="Data Source=desterargentina.com.ar;Initial Catalog=DesterGestion2017;Persist Security Info=True;User ID=sa;Password=1am45d50G#" providerName="System.Data.SqlClient" />
    <add name="DGestion.Properties.Settings.DesterGestion2017ConnectionString4" connectionString="Data Source=desterargentina.com.ar;Initial Catalog=DesterGestion2017;Persist Security Info=True;User ID=sa;Password=1am45d50G#" providerName="System.Data.SqlClient" />
    <add name="DGestion.Properties.Settings.DesterGestion2017ConnectionString5" connectionString="Data Source=desterargentina.com.ar;Initial Catalog=DesterGestion2017;Persist Security Info=True;User ID=sa;Password=1am45d50G#" providerName="System.Data.SqlClient" />
    <add name="DesterGestion2017Entities" connectionString="metadata=res://*/Modelo.Model1.csdl|res://*/Modelo.Model1.ssdl|res://*/Modelo.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desterargentina.com.ar;initial catalog=DesterGestion2017;persist security info=True;user id=sa;password=1am45d50G#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connStringDB" connectionString="metadata=res://*/Modelo.Model1.csdl|res://*/Modelo.Model1.ssdl|res://*/Modelo.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desterargentina.com.ar;initial catalog=DesterGestion2017;persist security info=True;user id=sa;password=1am45d50G#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <DGestion.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </DGestion.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>