<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DGestion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DGestion.Properties.Settings.connString" connectionString="Data Source=sistemsoft.com.ar;Initial Catalog=DesterGestion;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=1am45d35G;MultipleActiveResultSets=True" />
        <add name="DGestion.Properties.Settings.DesterGestionConnectionString"
            connectionString="Data Source=sistemsoft.com.ar;Initial Catalog=DesterGestion;Persist Security Info=True;User ID=sa;Password=1am45d35G"
            providerName="System.Data.SqlClient" />
        <add name="DGestion.Properties.Settings.DesterGestionConnectionString1"
            connectionString="Data Source=PCSERVER\PCSERVER2012;Initial Catalog=DesterGestion;Persist Security Info=True;User ID=sa;Password=1am45d35G"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <DGestion.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </DGestion.Properties.Settings>
    </userSettings>
</configuration>
